<h4 class="title">{{title}}</h4>
<form role="form" [formGroup]="form" (ngSubmit)="save()" >
 <div *ngIf="isGallery; else gallery">
  <!-- Name -->
  <div class="form-group">
    <mat-form-field>
      <input required matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="f.name.hasError">
        {{getErrorName()}}
      </mat-error>
    </mat-form-field>
  </div>
  
  <!-- photo -->
  <mat-button-toggle-group #gallery="matButtonToggleGroup" >
      <mat-button-toggle value="center" aria-label="Text align center"  (click)="choosePhoto()"> Choose photo
        <mat-icon></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    
  <div class="form-group col " *ngIf="isImage">
    <br><br>
    <div class="card card-single center" style="width: 18rem; height: 12rem">
      <img class="card-img-top" src={{f.image.value}} style="width: 18rem; height: 12rem">
      <a class="remove-image" (click)="removePhoto()" style="display: inline;">&#215;</a>
    </div>
  </div>
  
  <!-- Location -->
  <div>
    <mat-form-field>
      <input matInput placeholder="Location" formControlName="location" ngx-google-places-autocomplete
        [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" autocomplete="off">
    </mat-form-field>
  </div>

     <div>
         <mat-form-field>
             <input matInput placeholder="Latitude" formControlName="latitude" (onAddressChange)="handleAddressChange($event)"
                    autocomplete="off">
         </mat-form-field>
     </div>

  <!-- Description -->
  <div class="form-group">
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <!-- Private Or Public -->
  <div class="form-group">
    <mat-radio-group formControlName="type" required labelPosition="after">
      <mat-radio-button value="private" color="primary"> Private* &nbsp;</mat-radio-button>
      <mat-radio-button value="public" color="primary"> Public* </mat-radio-button>
    </mat-radio-group>
  </div>
  <!-- Start Date -->
  <div class="form-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (dateChange)="onStartDateChange($event)" formControlName="startDate"
        placeholder="Start Date" [errorStateMatcher]="errorMatcher" onkeydown="return false" [min]="today">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker class="datepicker"></mat-datepicker>
      <mat-error *ngIf="form.hasError('StartDateReq')">
        Field is required
      </mat-error>
      <mat-error *ngIf="form.hasError('notValidDate')">
        Start Date must be inf to end Date
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Start Time -->
  <div class="form-group">
    <mat-form-field>
      <input matInput [matTimeSelect]="myTimeSelect" placeholder="Start Time" onkeydown="return false"
        formControlName="startTime" [min]="startTimeMin" [errorStateMatcher]="errorMatcher">
      <mat-time-select-toggle matSuffix [for]="myTimeSelect"></mat-time-select-toggle>
      <mat-time-select #myTimeSelect></mat-time-select>
      <mat-error *ngIf="form.hasError('notValidTime')">
          Start Time must be inf to end Time
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Toggle End Date Time -->
  <div class="form-group">
    <mat-slide-toggle formControlName="endDateTime" color="primary" (change)="onChange()"> Choose end date and
      time
    </mat-slide-toggle>
  </div>

  <!-- End Date -->

  <div class="form-group" *ngIf="isVisible">
    <mat-form-field>
      <input matInput [errorStateMatcher]="errorMatcher" [matDatepicker]="picker1" placeholder="End Date"
        formControlName="endDate" (dateChange)="onEndDateChange($event)" onkeydown="return false" [min]="today">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 class="datepicker"></mat-datepicker>
      <mat-error *ngIf="form.hasError('EndDateReq')">
          Field is required 
      </mat-error>
      <mat-error *ngIf="form.hasError('notValidDate')">
          End Date must be sup to start Date
      </mat-error>
    </mat-form-field>
  </div>
  <!-- End Time -->
  <div class="form-group" *ngIf="isVisible">
    <mat-form-field>
      <input matInput placeholder="End Time" formControlName="endTime" [matTimeSelect]="myTimeSelect1"
        [errorStateMatcher]="errorMatcher" onkeydown="return false" [min]="endTimeMin">
      <mat-time-select-toggle matSuffix [for]="myTimeSelect1"></mat-time-select-toggle>
      <mat-time-select #myTimeSelect1></mat-time-select>
      <mat-error *ngIf="form.hasError('notValidTime')">
          End Time must be sup to start time
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group text-center">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button class="btn btn-primary my-4" [disabled]="!form.valid">Save changes</button>
  </div>
</div>
  <ng-template #gallery>
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a (click)="backEvent()" class="font-weight-bold ml-1"> <i class="fas fa-md fa-arrow-left"></i><span></span> back
        </a>
      </div>
    </div>
    <div class="row gallery">
      <mat-radio-group formControlName="image" class="person-radio-group" (change)="onImageChange($event)">
        <mat-radio-button class="person-radio-button" color="transparent" *ngFor="let i of images "
          value={{i.urls.regular}}>
          <div class="col-sm">
            <div class="card card-single" style="width: 12rem; height: 7rem">
              <img class="card-img-top" src={{i.urls.regular}} style="width: 12rem; height: 7rem">
            </div>
            <br>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-template>
  </form>
