<!-- Header -->

<div class="img"
     style="background-image: url(../../assets/skiing.jpg);">
  <div>
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
        <div>
          <div><img src="../assets/logo.png" width="70" height="70"></div>
          <h1 class="titre"><a>JMActiv </a></h1>
          <h3 class="soustitre">Restez Actif!</h3>
          <app-chercher></app-chercher>
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div>
      <h2 class="h1 font-bold light-blue-text my-5"> Vous cherchez une activité? </h2>
      <!--<div class="search">-->
      <!--<input type="text" class="searchTerm" placeholder="What are you looking for?">-->
      <!--<button type="submit" class="searchButton">-->
      <!--<i class="fa fa-search"></i>-->
      <!--</button>-->
      <!--</div>-->
    </div>


    <!-- Card deck -->
    <div class="card-deck">

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Activité 1</h4>
          <!--Text-->
          <p class="card-text"></p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Activité 2</h4>
          <!--Text-->
          <p class="card-text"></p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Activité 3</h4>
          <!--Text-->
          <p class="card-text"></p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">

    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="img"
     style="background-image: url(../../assets/img1.jpeg); background-attachment: fixed; min-height: 700px">
</div>
