<div class="card-body">
    <div class="container">
    <div *ngIf="events">
      <div class="row">
        <!-- events db-->
        <div *ngFor=" let event of events  | filter:eventCriteria">
          <div class="col-sm">
            <div class="card card-single" style="width: 14rem;">
              <img class="card-img-top" src={{event.image}} alt="Card image cap">
              <div class="card-body">
                <ul class="navbar-nav d-none d-sm d-md-flex" style="position:absolute;right:13px">
                  <li class="nav-item dropdown">
                    <a class="nav-link pr-0" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      <i class="fas fa-bars fa-sm"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                      <a class="dropdown-item">
                        <i class="fas fa-share-square fa-sm "></i>
                        <span>
                                        <share-button [button]="'facebook'" [showIcon]="false" [showText]="true" [size]="1"
                                                      [icon]="['fas', 'fa-share-square']" text='share Event'
                                                      url="/profile/events/{{event.id}}" [autoSetMeta]="false">
                                        </share-button>
                                      </span>
                      </a>
                      <!-- <div class="dropdown-divider"></div>
                      <a routerLink="/profile" class="dropdown-item">
                        <i class=" fas fa-edit fa-sm "></i>
                        <span>Update Event</span>
                      </a>
                      <a routerLink="/profile" class="dropdown-item">
                        <i class="far fa-trash-alt fa-sm "></i>
                        <span>Remove Event</span>
                      </a> -->
                    </div>
                  </li>
                </ul>
                <br>
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.description | slice:0:70 }}</p>
                <a [routerLink]="['/profile/events', event.id]" [queryParams]="{type:'local'}"  class="btn btn-primary">Read More</a>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!-- end db events-->
      </div>
    </div>
</div>
</div>
